
<div class="sidebar">
    <div class="flex flex-align-center flex-space-between gap-10 mb-10">
      <input class="input-text" type="text" [(ngModel)]="cityName" placeholder="Enter city name" />
      <button type="button" class="actions-button-n plus-icon-btn" (click)="addCity()"><i class="fas fa-plus"></i></button>
    </div>
  
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  
    <div class="small-heading font-14 text-gray fw-600">Recent Locations</div>
     
    <ul class="locations">
      <li *ngFor="let city of recentCities$ | async" class="mb-10 cursor-pointer">
        <div class="flex flex-space-between flex-align-center">
          <span (click)="selectCity(city.name)" class="city-info">{{ city.name }} - {{ city.temp }}°C {{city.description}}</span>
          <div class="flex gap-10">
            <img *ngIf="city.icon" src="http://openweathermap.org/img/wn/{{city.icon}}@2x.png" width="32" height="32" />
            <button class="actions-button-n" type="button" (click)="refreshCity(city.name)"><i class="fas fa-refresh icon-col-primary font-15"></i></button>
            <button class="actions-button-n" type="button" (click)="removeCity(city.name)"><i class="fas fa-times icon-col-danger font-15"></i></button>
          </div>
        </div>
       
      </li>
    </ul>
  
    <div class="button-container">
      <button class="action-button btn-primary" (click)="clearAll()">Clear All</button>
    </div>
    
  </div>
  